.calculator {
  margin: auto;
  height: 100vh;
  display: flex;
}
form {
  border: 5px solid #666;
  background-color: #444;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 30px;
  width: fit-content;
  margin: auto;
}
input {
  width: 100px;
  height: 80px;
  margin: 5px;
  border-radius: 20px;
  background-color: lightgray;
  font-size: 30px;
  font-weight: bold;
  transition: 0.3s;
}
input:hover {
  background-color: rgb(151, 151, 151);
}
#layar {
  width: 440px;
  padding: 10px;
  box-sizing: border-box;
  font-size: 40px;
  outline: none;
  border: none;
}
#layar:hover {
  background-color: lightgray;
}

@media screen and (max-width: 550px) {
  input {
    width: 80px;
    height: 70px;
  }
  #layar {
    width: 350px;
  }
}
@media screen and (max-width: 500px) {
  input {
    width: 60px;
    height: 50px;
    font-size: 25px;
  }
  #layar {
    width: 280px;
  }
}
